@import '@/assets/styles/mixins.scss';

.intensivesGallery {
  @apply grid justify-items-center gap-8 justify-center;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));

  .intensive {
    @apply w-full rounded-md justify-start p-6 cursor-pointer relative bg-[#000000] bg-no-repeat bg-contain h-[250px];
    scroll-snap-align: center;
    background-image: url('../../assets/images/main_background1.png');
    background-position: top right;
    @include btn-hover-animation;
    .intensiveInfo {
      @apply flex h-full flex-col align-baseline justify-end max-w-[295px] relative z-10;
      h3 {
        @apply uppercase mb-8 max-w-[90%];
      }
      .intensiveDetails {
        @apply flex gap-2 text-nowrap;
        span {
          @apply border border-white border-opacity-20 rounded-full px-2  text-[0.75rem];
        }
      }
    }
    img {
      @apply flex size-32 justify-self-end absolute top-0 right-0;
      object-fit: contain;
    }
  }
}

@media screen and (max-width: 1024px) {
  .intensivesGallery {
    row-gap: 1rem;
  }
}

@media screen and (max-width: 976px) {
  .siteOverview {
    @apply flex-col justify-start h-fit text-center;
    background-image: none;
    h1 {
      @apply mr-0;
    }
  }
  .intensives {
    .intensivesGallery {
      .intensive {
        .intensiveInfo {
          h3 {
            @apply mb-2;
          }
          .intensiveDetails {
            flex-direction: column;
            width: fit-content;
          }
        }
        img {
          @apply block py-4 size-40;
          transform: translateX(15%);
        }
      }
    }
  }
}
@media screen and (max-width: 494px) {
  .siteOverview {
    .siteStatistics {
      @apply items-center;
      .statisticButtons {
        @apply flex-col;
      }
    }
  }
  .intensives {
    .intensivesGallery {
      .intensive {
        .intensiveInfo {
          h3 {
            @apply max-w-[90%];
          }
        }
      }
    }
  }
}
