@import '@/assets/styles/mixins.scss';
.wrapper {
  @apply min-h-screen flex items-center justify-center;
  background-image: url(../assets/images/auth-page-bg.png);
  background-position: center center;
  background-size: cover;

  .main {
    @apply p-8 rounded-lg mx-4;
    @include blur-bg;
    .heading {
      @apply font-semibold mb-4 text-base;
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    background-image: url(../assets/images/auth-page-bg-mobile.png);
  }
}
