@import '@/assets/styles/mixins.scss';
.filesGallery {
  @apply grid justify-items-center gap-8 justify-center w-full;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));

  .file {
    @apply w-full rounded-md justify-start cursor-pointer bg-[#000000] bg-no-repeat bg-contain relative;
    background-image: url('../../assets/images/main_background1.png');
    background-position: top right;

    .fileNumber {
      @apply text-xl;
    }

    .fileInfo {
      @apply flex p-6 h-full flex-col items-center align-baseline justify-end max-w-[295px] relative z-10;
      h3 {
        @apply uppercase my-4 max-w-[90%] text-center;
      }
      .fileDetails {
        @apply flex flex-col w-fit gap-2 text-nowrap;
        span {
          @apply border border-white border-opacity-20 rounded-full px-2  text-[0.75rem];
        }
      }
    }
    a {
      @apply w-fit text-[#000000] font-semibold rounded-md px-4 py-1  bg-[#4ba47f];
      &:hover {
        &::after {
          width: 0;
        }
      }
      @include btn-hover-animation;
    }
  }
}

@media screen and (max-width: 1024px) {
  .filesGallery {
    row-gap: 1rem;
  }
}

@media screen and (max-width: 976px) {
  .siteOverview {
    @apply flex-col justify-start h-fit text-center;
    background-image: none;
    h1 {
      @apply mr-0;
    }
  }
  .files {
    .filesGallery {
      .file {
        .fileInfo {
          h3 {
            @apply mb-2;
          }
          .fileDetails {
            flex-direction: column;
            width: fit-content;
          }
        }
        img {
          @apply block py-4 size-40;
          transform: translateX(15%);
        }
      }
    }
  }
}
@media screen and (max-width: 494px) {
  .siteOverview {
    .siteStatistics {
      @apply items-center;
      .statisticButtons {
        @apply flex-col;
      }
    }
  }
  .files {
    .filesGallery {
      .file {
        .fileInfo {
          h3 {
            @apply max-w-[90%];
          }
        }
      }
    }
  }
}
