@import '@/assets/styles/mixins.scss';
.authForm {
  @apply max-w-sm mx-auto;

  .inputLabel {
    .labelText {
      @apply text-transparent;
    }
    .input-field {
      @apply w-full p-2 bg-transparent border-none;
      border-radius: 0 !important;
      border-bottom: 2px solid #ffffff;
      &::placeholder {
        color: #ffffff;
      }
      &:focus {
        &::placeholder {
          color: transparent;
        }
      }
    }
  }
}

.btn-primary {
  @apply w-full mt-2 pt-2 pb-[0.4rem] font-semibold rounded bg-white;
  color: rgba(0, 94, 255, 0.5);
  @include btn-hover-animation;
}

.recaptcha {
  > div > div {
    @apply mx-auto;
  }
}

.authToggle {
  @apply text-center text-sm mt-3;

  p {
    .switchAuth {
      text-decoration: underline;
    }
  }
}
