@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #000201;
  --text: #ffffff;
  --btn: #bebee6;
  --border: #50506e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary: #e6e6ff;
    --text: #1e1e3c;
    --btn: #50506e;
    --border: #bebee6;
  }
} */

body {
  @apply w-full min-h-screen bg-no-repeat;
  font-size: 1.18rem;
  background-color: var(--primary);
  color: var(--text);
  /* background: linear-gradient(to bottom, #0feeec 0%, #3aeeb5 100%); */
  background-image: url('./assets/images/main_background1.png');

  background-position: top right;

  @media (max-width: 1200px) {
    font-size: 16px;
  }

  @media (max-width: 992px) {
    font-size: 17px;
  }
  @media (max-width: 768px) {
    font-size: 16px;
  }
  @media (max-width: 480px) {
    font-size: 15px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

header {
  @apply max-w-screen-2xl;
  margin: 0 auto;
}

main {
  @apply flex flex-col justify-center max-w-screen-2xl;
  margin: 3rem auto;
}

footer {
  @apply max-w-screen-2xl;
  margin: 0 auto;
}

.container {
  @apply min-h-screen p-4 pb-0 max-w-screen-2xl;
  margin: 0 auto;
}

a {
  &:hover {
    &:after {
      width: 100%;
    }
  }
  &::after {
    content: '';
    @apply block h-[1px] cursor-pointer w-0 bg-white border-opacity-50;
    transition: width 0.5s;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.not-found {
  @apply flex items-center justify-center h-[75vh] text-center w-[90%];
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

@media (max-width: 768px) {
  h1 {
    @apply text-xl;
  }
  h2 {
    @apply text-base;
  }
  h3 {
    @apply text-sm;
  }
  p {
    @apply text-xs;
  }
}
