@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1e1e3c;
  --text: #e6e6ff;
  --btn: #bebee6;
  --border: #50506e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary: #e6e6ff;
    --text: #1e1e3c;
    --btn: #50506e;
    --border: #bebee6;
  }
} */

body {
  font-size: 18px;
  background: var(--primary);
  color: var(--text);

  @media (max-width: 1200px) {
    font-size: 16px;
  }

  @media (max-width: 992px) {
    font-size: 14px;
  }
}

button {
  color: var(--border);
  background-color: var(--btn);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
