@import '@/assets/styles/mixins.scss';

.siteOverview {
  @apply mb-4 h-[450px] py-4 px-6 flex flex-col items-start justify-center gap-6 bg-no-repeat;
  background-image: url('../assets/images/main-bg.png');
  background-position: center right;
  @media (max-width: 494px) {
    background-size: 100%;
  }
  h1 {
    @apply mr-4;
  }
  .siteStatistics {
    @apply flex flex-col justify-center items-start p-4;
    .statistic {
      @apply flex text-center gap-6;
    }
    > p {
      @apply py-4 max-w-screen-sm font-medium;
    }
    .statisticButtons {
      @apply flex gap-3;
    }
  }
}

.intensives {
  @apply bg-white p-8 py-6 relative rounded-md;

  &::after {
    content: '';
    @apply absolute rounded-md -top-[.3rem] left-[2.5%] w-[95%] h-10 -z-10 bg-zinc-700;
  }
  &::before {
    content: '';
    @apply absolute rounded-md -top-[.5rem] left-[5%] w-[90%] h-10 -z-10 bg-zinc-800;
  }

  > h2 {
    @apply text-[#000000] text-2xl pb-6;
  }
  .intensivesGallery {
    @apply grid justify-items-center gap-8 justify-center;
    grid-template-columns: repeat(auto-fit, minmax(230px, auto));

    .intensive {
      &:hover {
        &:after {
          width: 0;
        }
      }
      @apply w-full flex flex-col justify-between rounded-md p-6 cursor-pointer relative bg-[#000000] bg-no-repeat bg-contain;
      scroll-snap-align: center;
      background-image: url('../assets/images/main_background1.png');
      background-position: top right;
      @include btn-hover-animation;
      .intensiveInfo {
        @apply text-start max-w-[295px] relative z-10 flex justify-between items-start;
        .intensiveDetails {
          @apply flex gap-2 text-nowrap;
          span {
            @apply border border-white border-opacity-20 rounded-full px-2 text-[0.75rem];
          }
        }
      }
      h3 {
        @apply uppercase mt-4;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .intensivesGallery {
    row-gap: 1rem;
  }
}

@media screen and (max-width: 976px) {
  .siteOverview {
    @apply flex-col justify-start h-fit text-center items-center;
    background-image: none;
    h1 {
      @apply mr-0;
    }
  }
  .intensives {
    .intensivesGallery {
      .intensive {
        .intensiveInfo {
          h3 {
            @apply mb-2;
          }
          .intensiveDetails {
            flex-direction: column;
            width: fit-content;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 494px) {
  .siteOverview {
    .siteStatistics {
      @apply items-center;
      .statisticButtons {
        @apply flex-col;
      }
    }
  }
  .intensives {
    .intensivesGallery {
      .intensive {
        .intensiveInfo {
          h3 {
            @apply max-w-[90%];
          }
        }
      }
    }
  }
}

@media (max-width: 319px) {
  .siteOverview {
    .siteStatistics {
      .statistic {
        @apply flex-col;
      }
    }
  }
}
