.layout {
  @apply mb-4;
  .inputLabel {
    .labelText {
      @apply text-transparent;
    }
  }
  .inputField {
    @apply w-full p-2 bg-transparent border-none;
    border-radius: 0 !important;
    border-bottom: 2px solid #ffffff;
    &::placeholder {
      color: #ffffff;
    }
    &:focus {
      outline: none;
      &::placeholder {
        color: transparent;
      }
    }
  }
}
