@import '@/assets/styles/mixins.scss';
.nav {
  @apply grid justify-items-center rounded-2xl py-4 -order-1;
  grid-template-rows: 6fr;
  background-color: rgba(255, 255, 255, 0.1);
  .sidebarToggle {
    @apply flex justify-self-end opacity-40 transition-opacity duration-300 ease-in-out bg-transparent outline-none border-none p-6 cursor-pointer text-right w-min;

    &:hover {
      @apply opacity-100;
    }
  }
  .linkName {
    @apply invisible absolute w-max left-[120%] bg-white text-[#000000] font-semibold px-2 rounded-xl;
    position: absolute;
    left: 120%;
    width: max-content;
    background-color: white;
    color: black;
    font-weight: 700;
    padding: 0.2rem 0.5rem;
    border-radius: 0.7rem;
  }

  > a {
    @apply flex justify-center items-center gap-2 relative no-underline p-6;
    @include btn-hover-animation;
    &:hover {
      @apply scale-125;
      .linkName {
        @apply visible;
      }
    }
    &::after {
      @apply hidden;
    }
    &:nth-child(2) {
      &::after {
        content: '';
        @apply block absolute bottom-0 bg-zinc-500 left-1/4 w-1/2 opacity-15;
      }
    }
  }
  .dots {
    @apply flex justify-center space-x-2;
    span {
      @apply w-2 h-2 bg-zinc-500 rounded-full opacity-15;
    }
  }
  .active {
    @apply pointer-events-none;
    &:hover {
      @apply scale-100;
    }
    &::before {
      content: '';
      @apply block absolute top-1/4 left-0 w-[3px] h-1/2 bg-white;
    }
  }
}

@media (max-width: 768px) {
  .nav {
    @apply fixed bottom-1 flex h-[60px] gap-4 justify-evenly py-0 px-2 order-1 z-20;
    background-color: rgb(26 26 26);
    left: calc(50% - 144px);
    .dots {
      @apply hidden;
    }
    > a {
      @apply p-4;
      &:nth-child(2) {
        &::after {
          @apply top-1/4 left-full w-[1px] h-1/2;
        }
      }
      .linkName {
        @apply hidden;
      }
    }
    .active {
      &::before {
        @apply top-[99%] left-1/4 h-[1px] w-1/2;
      }
    }
  }
}

@media (max-width: 320px) {
  .nav {
    @apply gap-2;
  }
}
